.container-fluid{
    background-color: white;
}






.form-control me-2{
    font-size: 20px;
}
.navbar-nav > li{
    margin-left:10px;
    margin-right:10px;

  }
h1{
    font-size: 40px;
    float: left;
    margin-left: 45px;
    font-weight: bold;
}
.color-change-effect{
    color: #99CA3C;
    display: inline;
}
p{
    font-size: 17px;
}
h3,p{
    margin-left: 45px;
}
h3{
    font-weight: bold;
}
.ech3-highlight{
    color: #1900ff;
    display: inline;
}
.to-about{
    margin-left: 45px;
    display: inline;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .button-row {
    display: flex; 
    justify-content: space-around;
    background-color: #e2ffcb;
    padding: 30px 0; 
    border-radius: 20px;
  }
  .button-row > button {
     background-color: white;
     border: transparent;
     color: black;
  }
  .btn-success {
    background-color: #198754;
  }
  .that-img{
    margin-left: 5.6%;
  }
  /* ab tou what we are doing ka scene hoga */
main > h1{
  margin-left: 36%;
  margin-right: 36%;
}
